.skeleton {
  position: relative;
  background-color: #d9d9d9;
  border-radius: 16px;
 &:before{
   position: absolute;
   content: "";
   height: 100%;
   width: 100%;
   background-image: linear-gradient(to right,  #d9d9d9 0%, rgba(0,0,0,0.1) 20%, #d9d9d9 40%, #d9d9d9 100%);
   background-repeat: no-repeat;
   background-size: 450px 400px;
   animation: shimmer 1.5s linear infinite;
   border-radius: 16px;
 }
}

@keyframes shimmer {
  0%{
    background-position: -450px 0;
  }
  100%{
    background-position: 450px 0;
  }
}
